In [1]:
import pandas as pd # importing lib. for analysis
import numpy as np   # importing lib. for numerical computin

In [2]:
train_data = pd.read_csv('train.csv')      # fetching the train dataset
train_data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [3]:
train_data.info()           #information about the training dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [4]:
train_data['Age'].median()

np.float64(28.0)

In [5]:
 #filling Nan values for "Age" & "Embarked"
train_data['Age'].fillna(train_data['Age'].median(), inplace= True)
train_data['Embarked'].fillna(train_data['Embarked'].mode()[0], inplace= True)

C:\Users\asus\AppData\Local\Temp\ipykernel_16768\3961796026.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  train_data['Age'].fillna(train_data['Age'].median(), inplace= True)
C:\Users\asus\AppData\Local\Temp\ipykernel_16768\3961796026.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  train_data['Embarked'].fillna(train_data['Embarked'].mode()[0], inplace= True)

In [6]:
#extracting the common names in the "Name" columns
train_data['Name'] = train_data['Name'].str.extract(r',\s*([^\.]*)\s*\.')
train_data['Name'].unique()

array(['Mr', 'Mrs', 'Miss', 'Master', 'Don', 'Rev', 'Dr', 'Mme', 'Ms',
       'Major', 'Lady', 'Sir', 'Mlle', 'Col', 'Capt', 'the Countess',
       'Jonkheer'], dtype=object)

In [7]:
# replacing less common names with 'rare'
train_data['Name']= train_data['Name'].replace({
    'Don': 'rare',
    'Rev': 'rare',
    'Dr' : 'rare',
    'Mme': 'rare',
    'Sir': 'rare',
    'Col': 'rare',
    'Capt': 'rare',
    'the Countess': 'rare',
    'Jonkheer': 'rare',
    'Lady': 'rare',
    'Major': 'rare',
    'Ms': 'Miss',
    'Mlle':'Mrs'
})
train_data['Name'].unique()

array(['Mr', 'Mrs', 'Miss', 'Master', 'rare'], dtype=object)

In [8]:
from sklearn.preprocessing import OneHotEncoder # importing OneHotEncoder for converting the categorical variable into numerical values
encoder = OneHotEncoder(drop= 'first', sparse_output= False)
encoded_sex =  encoder.fit_transform(train_data[['Sex','Name','Embarked']]) # fit and transform the 'Sex','Embarked' & 'Name' column

# creating new dataframe and get new columns
new_cols = encoder.get_feature_names_out(['Sex','Name','Embarked'])
encoded_df = pd.DataFrame(encoded_sex, columns= new_cols, dtype= int) # converting it into dataframe
new_train_data = pd.concat([train_data, encoded_df],axis=1)  # concatinating the dummy variables

# removing 'Sex' & 'Name', 'Embarked' column
new_train_data.drop(['Sex','Name','Embarked'], inplace= True, axis= 1)
new_train_data

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Ticket,Fare,Cabin,Sex_male,Name_Miss,Name_Mr,Name_Mrs,Name_rare,Embarked_Q,Embarked_S
0,1,0,3,22.0,1,0,A/5 21171,7.2500,NaN,1,0,1,0,0,0,1
1,2,1,1,38.0,1,0,PC 17599,71.2833,C85,0,0,0,1,0,0,0
2,3,1,3,26.0,0,0,STON/O2. 3101282,7.9250,NaN,0,1,0,0,0,0,1
3,4,1,1,35.0,1,0,113803,53.1000,C123,0,0,0,1,0,0,1
4,5,0,3,35.0,0,0,373450,8.0500,NaN,1,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,27.0,0,0,211536,13.0000,NaN,1,0,0,0,1,0,1
887,888,1,1,19.0,0,0,112053,30.0000,B42,0,1,0,0,0,0,1
888,889,0,3,28.0,1,2,W./C. 6607,23.4500,NaN,0,1,0,0,0,0,1
889,890,1,1,26.0,0,0,111369,30.0000,C148,1,0,1,0,0,0,0
890,891,0,3,32.0,0,0,370376,7.7500,NaN,1,0,1,0,0,1,0

In [9]:
new_train_data.drop('Cabin', axis=1, inplace= True)
new_train_data.drop('Ticket', axis=1, inplace= True) # this is an important feature
new_train_data['Family_Members'] = new_train_data['SibSp'] + new_train_data['Parch'] + 1
new_train_data['IsAlone'] = (new_train_data['Family_Members'] == 1).astype(int)

In [10]:
#creating new feature
# new_train_data['Fare_per_person'] = new_train_data['Fare'] / new_train_data['Family_Members']

In [11]:
new_train_data.corr()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare,Sex_male,Name_Miss,Name_Mr,Name_Mrs,Name_rare,Embarked_Q,Embarked_S,Family_Members,IsAlone
PassengerId,1.000000,-0.005007,-0.035144,0.034212,-0.057527,-0.001652,0.012658,0.042939,-0.072984,0.038850,0.016925,0.060589,-0.033606,0.022204,-0.040143,0.057462
Survived,-0.005007,1.000000,-0.338481,-0.064910,-0.035322,0.081629,0.257307,-0.543351,0.329948,-0.549199,0.344935,-0.003024,0.003650,-0.149683,0.016639,-0.203367
Pclass,-0.035144,-0.338481,1.000000,-0.339898,0.083081,0.018443,-0.549500,0.131900,-0.001601,0.142698,-0.158279,-0.194195,0.221009,0.074053,0.065997,0.135207
Age,0.034212,-0.064910,-0.339898,1.000000,-0.233296,-0.172482,0.096688,0.081163,-0.247271,0.180808,0.165812,0.186103,-0.031415,-0.006729,-0.245619,0.171647
SibSp,-0.057527,-0.035322,0.083081,-0.233296,1.000000,0.414838,0.159651,-0.114631,0.086435,-0.250489,0.059941,-0.028634,-0.026354,0.068734,0.890712,-0.584471
Parch,-0.001652,0.081629,0.018443,-0.172482,0.414838,1.000000,0.216225,-0.245489,0.104037,-0.333905,0.221318,-0.061598,-0.081228,0.060814,0.783111,-0.583398
Fare,0.012658,0.257307,-0.549500,0.096688,0.159651,0.216225,1.000000,-0.182333,0.116956,-0.183766,0.108024,0.021119,-0.117216,-0.162184,0.217138,-0.271832
Sex_male,0.042939,-0.543351,0.131900,0.081163,-0.114631,-0.245489,-0.182333,1.000000,-0.689179,0.867334,-0.552686,0.064691,-0.074115,0.119224,-0.200988,0.303646
Name_Miss,-0.072984,0.329948,-0.001601,-0.247271,0.086435,0.104037,0.116956,-0.689179,1.000000,-0.597748,-0.207283,-0.084587,0.169915,-0.128674,0.111050,-0.052759
Name_Mr,0.038850,-0.549199,0.142698,0.180808,-0.250489,-0.333905,-0.183766,0.867334,-0.597748,1.000000,-0.479363,-0.195617,-0.078338,0.112870,-0.338014,0.396920
Name_Mrs,0.016925,0.344935,-0.158279,0.165812,0.059941,0.221318,0.108024,-0.552686,-0.207283,-0.479363,1.000000,-0.067835,-0.091121,-0.007755,0.151534,-0.357826
Name_rare,0.060589,-0.003024,-0.194195,0.186103,-0.028634,-0.061598,0.021119,0.064691,-0.084587,-0.195617,-0.067835,1.000000,-0.001828,-0.037273,-0.050344,0.035918
Embarked_Q,-0.033606,0.003650,0.221009,-0.031415,-0.026354,-0.081228,-0.117216,-0.074115,0.169915,-0.078338,-0.091121,-0.001828,1.000000,-0.499421,-0.058592,0.086464
Embarked_S,0.022204,-0.149683,0.074053,-0.006729,0.068734,0.060814,-0.162184,0.119224,-0.128674,0.112870,-0.007755,-0.037273,-0.499421,1.000000,0.077359,0.029074
Family_Members,-0.040143,0.016639,0.065997,-0.245619,0.890712,0.783111,0.217138,-0.200988,0.111050,-0.338014,0.151534,-0.050344,-0.058592,0.077359,1.000000,-0.690922
IsAlone,0.057462,-0.203367,0.135207,0.171647,-0.584471,-0.583398,-0.271832,0.303646,-0.052759,0.396920,-0.357826,0.035918,0.086464,0.029074,-0.690922,1.000000

In [12]:
# dropping all the columns
new_train_data.drop('SibSp', axis=1, inplace= True)
new_train_data.drop('Parch', axis=1, inplace= True)
new_train_data.drop('PassengerId', axis=1, inplace= True)
# new_train_data.drop('Cabin', axis=1, inplace= True)
# new_train_data.drop('Ticket', axis=1, inplace= True)
new_train_data

,Survived,Pclass,Age,Fare,Sex_male,Name_Miss,Name_Mr,Name_Mrs,Name_rare,Embarked_Q,Embarked_S,Family_Members,IsAlone
0,0,3,22.0,7.2500,1,0,1,0,0,0,1,2,0
1,1,1,38.0,71.2833,0,0,0,1,0,0,0,2,0
2,1,3,26.0,7.9250,0,1,0,0,0,0,1,1,1
3,1,1,35.0,53.1000,0,0,0,1,0,0,1,2,0
4,0,3,35.0,8.0500,1,0,1,0,0,0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,27.0,13.0000,1,0,0,0,1,0,1,1,1
887,1,1,19.0,30.0000,0,1,0,0,0,0,1,1,1
888,0,3,28.0,23.4500,0,1,0,0,0,0,1,4,0
889,1,1,26.0,30.0000,1,0,1,0,0,0,0,1,1
890,0,3,32.0,7.7500,1,0,1,0,0,1,0,1,1

In [13]:
from sklearn.datasets import make_classification
X_train = new_train_data.iloc[:,1:]
y_train =new_train_data.iloc[:,0]
y_train
# converting dataset into independent and dependent part

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [14]:
test_data = pd.read_csv('test.csv')  #importing the test.csv file for test datasets
test_data

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [15]:
test_data.info()  #information about the training dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.1+ KB

again feature engineering for test datasets

In [16]:
 #filling Nan values for "Fare", "Age" & "Embarked"

test_data['Age'].fillna(test_data['Age'].median(), inplace= True)
test_data['Embarked'].fillna(test_data['Embarked'].mode()[0], inplace= True)
test_data['Fare'].fillna(test_data['Fare'].median(), inplace= True)

C:\Users\asus\AppData\Local\Temp\ipykernel_16768\3026459662.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  test_data['Age'].fillna(test_data['Age'].median(), inplace= True)
C:\Users\asus\AppData\Local\Temp\ipykernel_16768\3026459662.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  test_data['Embarked'].fillna(test_data['Embarked'].mode()[0], inplace= True)
C:\Users\asus\AppData\Local\Temp\ipykernel_16768\3026459662.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  test_data['Fare'].fillna(test_data['Fare'].median(), inplace= True)

In [17]:
#extracting the common names in the "Name" columns

test_data['Name'] = test_data['Name'].str.extract(r',\s*([^\.]*)\s*\.')
test_data['Name'].unique()

array(['Mr', 'Mrs', 'Miss', 'Master', 'Ms', 'Col', 'Rev', 'Dr', 'Dona'],
      dtype=object)

In [18]:
 # replacing less common names with 'rare'

test_data['Name']= train_data['Name'].replace({
    'Dona': 'rare',
    'Rev': 'rare',
    'Dr' : 'rare',
    'Col': 'rare',
    'Ms': 'Miss',
})
test_data['Name'].unique()

array(['Mr', 'Mrs', 'Miss', 'Master', 'rare'], dtype=object)

In [19]:
from sklearn.preprocessing import OneHotEncoder
test_encoder = OneHotEncoder(drop= 'first', sparse_output= False)
encoded_features =  test_encoder.fit_transform(test_data[['Sex','Name','Embarked']]) # fit and transform the 'Sex','Embarked' & 'Name' column

# creating new dataframe and get new columns
new_cols = test_encoder.get_feature_names_out(['Sex','Name','Embarked'])
encoded_df2 = pd.DataFrame(encoded_features, columns= new_cols, dtype= int) # converting it into dataframe
new_test_data = pd.concat([test_data, encoded_df2],axis=1)       # concatinating the dummy variables

# removing 'Sex' & 'Name', 'Embarked' column
new_test_data.drop(['Sex','Name','Embarked'], inplace= True, axis= 1)
new_test_data

,PassengerId,Pclass,Age,SibSp,Parch,Ticket,Fare,Cabin,Sex_male,Name_Miss,Name_Mr,Name_Mrs,Name_rare,Embarked_Q,Embarked_S
0,892,3,34.5,0,0,330911,7.8292,NaN,1,0,1,0,0,1,0
1,893,3,47.0,1,0,363272,7.0000,NaN,0,0,0,1,0,0,1
2,894,2,62.0,0,0,240276,9.6875,NaN,1,1,0,0,0,1,0
3,895,3,27.0,0,0,315154,8.6625,NaN,1,0,0,1,0,0,1
4,896,3,22.0,1,1,3101298,12.2875,NaN,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,27.0,0,0,A.5. 3236,8.0500,NaN,1,0,1,0,0,0,1
414,1306,1,39.0,0,0,PC 17758,108.9000,C105,0,0,1,0,0,0,0
415,1307,3,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,1,0,0,1,0,0,1
416,1308,3,27.0,0,0,359309,8.0500,NaN,1,0,0,1,0,0,1
417,1309,3,27.0,1,1,2668,22.3583,NaN,1,1,0,0,0,0,0

In [20]:
new_test_data['Family_Members'] = new_test_data['SibSp'] + new_test_data['Parch'] + 1
new_test_data['IsAlone'] = (new_test_data['Family_Members'] == 1).astype(int)

In [21]:
# new_test_data['Fare_per_person'] = new_test_data['Fare'] / new_test_data['Family_Members']

In [22]:
# dropping all the columns
new_test_data.drop('SibSp', axis=1, inplace= True)
new_test_data.drop('Parch', axis=1, inplace= True)
new_test_data.drop('PassengerId', axis=1, inplace= True)
new_test_data.drop('Cabin', axis=1, inplace= True)
new_test_data.drop('Ticket', axis=1, inplace= True)
new_test_data

,Pclass,Age,Fare,Sex_male,Name_Miss,Name_Mr,Name_Mrs,Name_rare,Embarked_Q,Embarked_S,Family_Members,IsAlone
0,3,34.5,7.8292,1,0,1,0,0,1,0,1,1
1,3,47.0,7.0000,0,0,0,1,0,0,1,2,0
2,2,62.0,9.6875,1,1,0,0,0,1,0,1,1
3,3,27.0,8.6625,1,0,0,1,0,0,1,1,1
4,3,22.0,12.2875,0,0,1,0,0,0,1,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...
413,3,27.0,8.0500,1,0,1,0,0,0,1,1,1
414,1,39.0,108.9000,0,0,1,0,0,0,0,1,1
415,3,38.5,7.2500,1,0,0,1,0,0,1,1,1
416,3,27.0,8.0500,1,0,0,1,0,0,1,1,1
417,3,27.0,22.3583,1,1,0,0,0,0,0,3,0

In [23]:
new_test_data.corr()

,Pclass,Age,Fare,Sex_male,Name_Miss,Name_Mr,Name_Mrs,Name_rare,Embarked_Q,Embarked_S,Family_Members,IsAlone
Pclass,1.000000,-0.467853,-0.577313,0.108615,-0.012101,-0.031687,0.103689,-0.044116,0.252608,0.120783,0.012736,0.173555
Age,-0.467853,1.000000,0.342357,-0.008035,0.066716,-0.039746,-0.034867,0.005788,-0.041310,-0.118594,-0.070283,-0.040355
Fare,-0.577313,0.342357,1.000000,-0.192036,-0.033541,0.025494,0.002711,-0.015965,-0.155193,-0.179106,0.250292,-0.282955
Sex_male,0.108615,-0.008035,-0.192036,1.000000,-0.003168,-0.000908,0.001308,0.032998,-0.115574,0.105883,-0.161803,0.244187
Name_Miss,-0.012101,0.066716,-0.033541,-0.003168,1.000000,-0.618332,-0.226566,-0.078847,0.069382,0.008890,-0.113490,0.101398
Name_Mr,-0.031687,-0.039746,0.025494,-0.000908,-0.618332,1.000000,-0.439697,-0.153018,-0.032101,-0.022833,0.080893,-0.009829
Name_Mrs,0.103689,-0.034867,0.002711,0.001308,-0.226566,-0.439697,1.000000,-0.056068,-0.052692,0.007755,0.051526,-0.086440
Name_rare,-0.044116,0.005788,-0.015965,0.032998,-0.078847,-0.153018,-0.056068,1.000000,-0.049120,-0.006114,-0.008259,-0.065804
Embarked_Q,0.252608,-0.041310,-0.155193,-0.115574,0.069382,-0.032101,-0.052692,-0.049120,1.000000,-0.474962,-0.144233,0.205783
Embarked_S,0.120783,-0.118594,-0.179106,0.105883,0.008890,-0.022833,0.007755,-0.006114,-0.474962,1.000000,0.106421,-0.014544
Family_Members,0.012736,-0.070283,0.250292,-0.161803,-0.113490,0.080893,0.051526,-0.008259,-0.144233,0.106421,1.000000,-0.685316
IsAlone,0.173555,-0.040355,-0.282955,0.244187,0.101398,-0.009829,-0.086440,-0.065804,0.205783,-0.014544,-0.685316,1.000000

In [24]:
# creating a placeholder for x_test(test data)
X_test = new_test_data

In [25]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [26]:
from sklearn.ensemble import VotingClassifier

from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC

log_clf = LogisticRegression()
rnd_clf = RandomForestClassifier()
svm_clf = SVC(probability= True)

voting_clf = VotingClassifier(
    estimators= [('lr', log_clf),('rf', rnd_clf), ('svm', svm_clf)], voting= "soft"
)
voting_clf.fit(X_train,y_train)

VotingClassifier(estimators=[('lr', LogisticRegression()),
                             ('rf', RandomForestClassifier()),
                             ('svm', SVC(probability=True))],
                 voting='soft')

In [27]:
# from sklearn.ensemble import RandomForestClassifier
# model = RandomForestClassifier(random_state= 42)  # model for training
# model.fit(X_train,y_train)      # fitting dataset into model

In [28]:
final_prediction = voting_clf.predict(X_test)   # predicting the trained model
final_prediction # showing the final predictions

array([0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0,
       1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1,
       1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1,
       1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0,
       1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0,
       0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0,
       1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0,
       1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1,
       0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0,
       1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1,
       0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1,
       1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0,
       0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1])

In [29]:
print(f"\nGenerated {len(final_prediction)} predictions for sumbmission")

Generated 418 predictions for sumbmission

In [30]:

predictions = [0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0,
       1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1,
       1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1,
       1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0,
       1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0,
       0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0,
       0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0,
       1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1,
       0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0,
       1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1,
       0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1,
       1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0,
       0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1]

# The test.csv file for the Titanic dataset has 418 passengers with IDs from 892 to 1309.
passenger_ids = range(892, 892 + len(predictions))

# Create a DataFrame for submission
submission_df = pd.DataFrame({
    'PassengerId': passenger_ids,
    'Survived': predictions
})

# Save the DataFrame to a CSV file
submission_df.to_csv('submission_1.csv', index=False)

print("submission_1.csv file created successfully!")
print(submission_df.head())

submission_1.csv file created successfully!
   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         1
4          896         0

In [31]:
# Save the model
import pickle
filename = 'savedmodel.sav'
pickle.dump(voting_clf, open(filename,'wb'))

In [32]:
load_model = pickle.load(open(filename, 'rb'))
load_model.predict([[3,34.5,7.8292, 1,0,1,0,0,1,0,1,1]])

array([0])